* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Cabin', sans-serif;
  background-color: #D0D0D0;
}
.MuiContainer-root {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
