@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 60px; 
}

body {
  background-color: #E5E5E5;
}
.MuiContainer-root {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.MuiFormHelperText-root{
  color: #f44336 !important;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #E5E5E5;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E5E5E5;
  border-radius: 15px;
}

/*@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}*/